# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# IDE files
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# Ignore specific folders
folder2/
test/

# Ignore all .pkl files
*.pkl
**/*.pkl